body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:  url("https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=1480&t=st=1710087885~exp=1710088485~hmac=13cd0d3290e7d271224de99403af27ead4a378337fc0bdb814867c18ff810c59");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
